extends layout

block content
 h1= title
 form(id='elephantForm' action="/resource/elephant" method="POST")
  div.form-group
      label.elephantAttr(for='elephant_color') elephant color
      input#elephant_color(type='text' name='elephant_color')
  div.form-group
      label.elephantAttr(for='elephant_height') elephant height 
      input#elephant_height(type='text' name='elephant_height')
  div.form-group
      label.elephantAttr(for='elephant_weight') elephant weight
      input#elephant_weight(type='text' name='elephant_weight')
      input(type="submit")
      script.
        document.forms['elephantForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        window.location.href='/elephant'
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
        });