extends layout
block content
    h1= title
    if(toShow == null)
        h2 No instance to detail4 
    else
        - let elephant_color = toShow.elephant_color
        - let elephant_height = toShow.elephant_height
        - let elephant_weight = toShow.elephant_weight
        - let Car_mileage = toShow.Car_mileage
        - let Car_cost = toShow.Car_cost
        div
            div.row(id="carAttr")
                div(class="carAttr mr-3") car color is:
                div #{elephant_color}
            div.row
                div(class="carAttr mr-3") car Model is:
                div #{elephant_height}
            div.row
                div(class="carAttr mr-3") car Title is:
                div #{elephant_weight}
            